{% extends "base.html" %}

{% block bar %}
<tr>
    <td></td>
    <td><a href="{{ url_for('home') }}">Home</a></td>
    {% if current_user.is_authenticated %}
    <td><a href="{{ url_for('player.CreatePlayer') }}">Create a Player</a></td>
    <td><a href="{{ url_for('user.Logout') }}">Logout</a></td>
    {% else %}
    <td><a href="{{ url_for('user.Signup') }}">Signup</a></td>
    <td><a href="{{ url_for('user.Login') }}">Login</a></td>
    {% endif %}
</tr>
{% endblock %}

{% block content %}
<hr>
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Position</th>
            <th>Team</th>
            <th>Owner</th>
            {% if current_user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td><img height="32" src="{{ player.portrait or url_for('static', filename='player.png') }}">
            </td>
            <td><a href="{{ url_for('player.Player', player_id=player.id) }}">{{ player.name }}</a></td>
            <td>{{ player.birth_date if player.birth_date else '' }}</td>
            <td>{{ player.position if player.position else ''}}</td>
            <td>{% if player.team_id %}<a href="{{ url_for('team.Team', team_id=player.team_id) }}">{{
                    player.team.name
                    }}</a>{% endif %}</td>
            <td>{% if player.team %}<a href="{{url_for('user.Teams', user_id=player.team.owner_id)}}">{{
                    player.team.owner.username }}{% endif %}</td>
            {% if current_user.is_authenticated %}
            <td>
                {% if current_user.id == player.team.owner_id %}
                <button
                    onclick="sendDeleteRequest('{{ url_for('player.Player', player_id=player.id) }}', '{{ request.path }}')">Delete</button>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}