{% extends "base.html" %}

{% block content %}
<table>
    <td><a href="javascript:history.back()">Back</a></td>
    <td><a href="{{ url_for('player.AllPlayers') }}">Players</a></td><br>
    {% if current_user.is_authenticated %}<td><a href="{{ url_for('user.Logout') }}">Logout</a></td>{% endif %}
</table>
<hr>
<table>
    <td>
        <img height="312" src="{{ player.portrait or url_for('static', filename='player.png') }}">
    </td>
    <td width="20"></td>
    <td style="vertical-align: top;">
        <form id="player">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="{{ player.name }}" minlength="2" required disabled><br>
            <label for="position">Position:</label><br>
            <select name="position" id="position" disabled>
                {% for position in positions %}
                <option value="{{ position }}" {% if player.position==position %} selected {% endif %}>{{ position }}
                </option>
                {% endfor %}
            </select><br>
            <label for="team_id">Team:</label><br>
            <select name="team_id" id="team_id" disabled>
                {% for team in teams %}
                <option value="{{ team.id }}" {% if player.team_id==team.id %} selected {% endif %}>{{ team.name }}
                </option>
                {% endfor %}
            </select><br>
            <label for="birth_date">Birth Date:</label><br>
            <input type="date" id="birth_date" name="birth_date" value={{ player.birth_date }} min="1900-01-01"
                max="2023-12-31" disabled /><br>
        </form>
        <br>
        {% if current_user.id == player.team.owner_id %}
        <form id="edit" action="{{ url_for('player.Player', player_id=player.id) }}">
            <input type="hidden" name="edit" value="1" />
            <input type="submit" value="Edit">
        </form>
        {% endif %}
    </td>
</table>
{% endblock %}