<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <hr>
        <table id="body" style="width: 100%;">
            <tr>
                <td></td>
                <td>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table id="bar">
                        <style scoped>
                            td {
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        </style>
                        {% block bar %}
                        <tr>
                            <td></td>
                            <td><a href="{{ url_for('home') }}">Home</a></td>
                            {% if current_user.is_authenticated %}
                            <td><a href="{{ url_for('user.Logout') }}">Logout</a></td>
                            {% else %}
                            <td><a href="{{ url_for('user.Signup') }}">Signup</a></td>
                            <td><a href="{{ url_for('user.Login') }}">Login</a></td>
                            {% endif %}
                        </tr>
                        {% endblock %}
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; width: 5%">
                    {% block menu %}
                    <table name="menu">
                        <tr>
                            <td><a href="{{ url_for('team.AllTeams') }}">Teams</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ url_for('player.AllPlayers') }}">Players</a></td>
                        </tr>
                    </table>
                    {% endblock %}
                </td>
                <td>
                    {% block content %}{{ content }}{% endblock %}
                </td>
            </tr>
        </table>
        <hr>
    </div>
    {% block scripts %}
    <script>
        function sendDeleteRequest(url, next) {
            fetch(`${url}`, {
                method: 'DELETE',
                headers: {
                    'Accept': '*/*'
                },
            })
                .then(response => {
                    if (response.ok) {
                        // Handle successful response
                        console.log('Delete request successful');
                    } else {
                        // Handle error response
                        console.error('Delete request failed');
                    }
                })
                .catch(error => {
                    // Handle network error
                    console.error('An error occurred:', error);
                })
                .finally(() => {
                    location.href = next;
                });
        }
    </script>
    {% endblock %}
</body>

</html>