{% extends "base.html" %}

{% block content %}
<table>
    <td><a href="javascript:history.back()">Back</a></td>
</table>
<hr>
<table>
    <td>
        <form id="player">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="{{ player.name }}" minlength="2" required><br><br>
            <label for="position">Position:</label><br>
            <select name="position" id="position">
                {% for position in positions %}
                <option value="{{ position }}" {% if player.position==position %} selected {% endif %}>{{ position }}
                </option>
                {% endfor %}
            </select><br><br>
            <label for="team_id">Team:</label><br>
            <select name="team_id" id="team_id">
                {% for team in teams %}
                <option value="{{ team.id }}" {% if player.team_id==team.id %} selected {% endif %}>{{ team.name }}
                </option>
                {% endfor %}
            </select><br><br>
            <label for="birth_date">Birth Date:</label><br>
            <input type="date" id="birth_date" name="birth_date" value={{ player.birth_date }} min="1900-01-01"
                max="2023-12-31" /><br><br>
            <input type="submit" value="Update">
        </form>
    </td>
</table>

{% endblock %}

{% block scripts %}
<script>
    document.getElementById('player').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        var formData = new FormData(this);
        var xhr = new XMLHttpRequest();

        xhr.open('PUT', '{{ url_for('player.Player', player_id=player.id) }}', true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log('PUT request successful');
            } else {
                console.error('PUT request failed');
            }
        };

        xhr.send(JSON.stringify(Object.fromEntries(formData.entries())));
        console.log(JSON.stringify(Object.fromEntries(formData.entries())));
        setTimeout(function () {
            history.back();
        }, 100);
    });
</script>
{% endblock %}