{% extends "base.html" %}

{% block content %}
<table>
    <td><a href="javascript:history.back()">Back</a></td>
</table>
<hr>
<table>
    <td>
        <form id="team" method="post" onsubmit="return sendUpdateRequest()">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="{{ team.name }}" minlength="2" required><br><br>
            <label for="stadium">Stadium:</label><br>
            <input type="text" id="stadium" name="stadium" value="{{ team.stadium  or ''}}" minlength="2">
            <br><br>
            <label for="city">City:</label><br>
            <input type="text" id="city" name="city" value="{{ team.city or ''}}" minlength="2"><br><br>
            <label for="state">State:</label><br>
            <select name="state" id="state">
                {% for state in states %}
                <option value="{{ state }}" {% if team.state==state %} selected {% endif %}>{{ state }}
                </option>
                {% endfor %}
            </select><br><br>
            <label for="foundation_date">Foundation Date:</label><br>
            <input type="date" id="foundation_date" name="foundation_date" {% if team.foundation_date %} value={{
                team.foundation_date }} {% endif %} min="1800-01-01" max="2023-12-31" /><br><br>
            <input type="submit" value="Update">
        </form>
    </td>
    <td style="vertical-align: top;">
        <table id="players" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center;">Players</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for player in team.players %}
                <tr>
                    <td><a href="{{ url_for('player.Player', player_id=player.id) }}">{{ player.name }}</a></td>
                    <td>{{ player.birth_date }}</td>
                    <td>{{ player.position }}</td>
                    <td>
                        <button
                            onclick="sendDeleteRequest('{{ url_for('player.Player', player_id=player.id) }}')">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><a href={{ url_for("player.CreatePlayer") }}>Create a Player</a></td>
                </tr>
            </tbody>
        </table>
    </td>
</table>
{% endblock %}

{% block scripts %}
<script>
    function sendDeleteRequest(url) {
        fetch(`${url}`, {
            method: 'DELETE',
            headers: {
                'Accept': '*/*'
            },
        })
            .then(response => {
                if (response.ok) {
                    // Handle successful response
                    console.log('Delete request successful');
                } else {
                    // Handle error response
                    console.error('Delete request failed');
                    alert("Failed to delete!")
                }
            })
            .catch(error => {
                // Handle network error
                console.error('An error occurred:', error);
                alert("Failed to delete!")
            })
            .finally(() => {
                location.reload()
                location.href = "{{ url_for('team.Team',team_id=team.id, edit=1) }}";
            });
    }
</script>
<script>
    function sendUpdateRequest() {
        if (document.forms["team"]["stadium"].value == "" && "{{ team.stadium }}" == "") {
            document.forms["team"]["stadium"].disabled = true;
        }
        if (document.forms["team"]["city"].value == "" && "{{ team.city }}" == "") {
            document.forms["team"]["city"].disabled = true;
        }
        if (document.forms["team"]["state"].value == "" && "{{ team.state }}" == "") {
            document.forms["team"]["state"].disabled = true;
        }
        if (document.forms["team"]["foundation_date"].value == "" && "{{ team.foundation_date }}" == "None") {
            document.forms["team"]["foundation_date"].disabled = true;
        }
        fetch("{{ url_for('team.Team', team_id=team.id) }}", {
            method: 'PUT',
            headers: {
                'Accept': '*/*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(new FormData(document.forms["team"]).entries()))
        })
            .then(response => {
                if (response.ok) {
                    // Handle successful response
                    console.log('Put request successful');
                } else {
                    // Handle error response
                    console.error('Put request failed');
                    alert("Failed to update!")
                }
            })
            .catch(error => {
                // Handle network error
                console.error('An error occurred:', error);
                alert("Failed to update!")
            })
            .finally(() => {
                location.href = "{{ url_for('team.Team',team_id=team.id) }}";
            });
        return false;
    }
</script>
{% endblock %}