{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <td><a href={{ url_for("home") }}>Home</a></td>
        <td><a href={{ url_for("team.CreateTeam") }}>Create a Team</a></td><br>
    </tr>
</table>
<hr>
{% if message %}<b>{{ message }}</b><br> {% endif %}

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Foundation Date</th>
            <th>Stadium</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td><a href="{{ url_for('team.Team', team_id=team.id) }}">{{ team.name }}</a></td>
            <td>{{ team.foundation_date or ''}}</td>
            <td>{{ team.stadium or ''}}</td>
            <td>{{ team.city or ''}}{% if team.state and team.city %}, {% endif %}{{ team.state or ''}}</td>
            <td>
                <button onclick="sendDeleteRequest('{{ url_for('team.Team', team_id=team.id) }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    function sendDeleteRequest(url) {
        fetch(`${url}`, {
            method: 'DELETE',
            headers: {
                'Accept': '*/*'
            },
        })
            .then(response => {
                if (response.ok) {
                    // Handle successful response
                    console.log('Delete request successful');
                } else {
                    // Handle error response
                    console.error('Delete request failed');
                    alert("Failed to delete team.")
                }
            })
            .catch(error => {
                // Handle network error
                console.error('An error occurred:', error);
            })
            .finally(() => {
                location.href = "{{ url_for('team.AllTeams') }}";
            });
    }
</script>
{% endblock %}