{% extends "base.html" %}


{% block bar %}
<table>
    <tr>
        <td><a href="{{ url_for('home') }}">Home</a></td>
    </tr>
</table>
{% endblock %}

{% block content %}
<hr>
<form method="post" action="{{ url_for('user.Login', **request.args) }}" enctype="multipart/form-data">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" minlength="2" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" minlength="2" required><br>
    <input type="checkbox" id="remember" name="remember">
    <label for="remember">Remember me</label><br>
    <br>
    <input type="submit" value="Login">
</form>
{% endblock %}