{% extends "base.html" %}


{% block bar %}
<tr>
    <td><a href="{{ url_for('home') }}">Home</a></td>
    <td><a href="{{ url_for('user.Login') }}">Login</a></td>
</tr>
{% endblock %}

{% block content %}
<hr>
<form method="post" action="{{ url_for('user.Signup') }}" enctype="multipart/form-data">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" minlength="2" required><br>
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="email" minlength="2" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" minlength="2" required><br>
    <br>
    <input type="submit" value="Signup">
</form>
{% endblock %}